<form method="POST">
    {% csrf_token %}
    
    <!-- Loja -->
    <div class="form-group">
        <label for="id_loja">Loja</label>
        {{ form.loja }}
    </div>

    <!-- Tipo de Pessoa -->
    <div class="form-group">
        <label for="id_tipo_pessoa">Tipo de Pessoa</label>
        {{ form.tipo_pessoa }}
    </div>

    <!-- Campos comuns para todos -->
    <div class="form-group">
        <label for="id_nome_completo">Nome Completo</label>
        {{ form.nome_completo }}
    </div>

    <div class="form-group">
        <label for="id_email">E-mail</label>
        {{ form.email }}
    </div>

    <div class="form-group">
        <label for="id_celular">Celular</label>
        {{ form.celular }}
    </div>

    <div class="form-group">
        <label for="id_telefone">Telefone</label>
        {{ form.telefone }}
    </div>

    <div class="form-group">
        <label for="id_endereco">Endereço</label>
        {{ form.endereco }}
    </div>

    <div class="form-group">
        <label for="id_cep">CEP</label>
        {{ form.cep }}
    </div>

    <div class="form-group">
        <label for="id_descricao_endereco">Descrição (Ex.: Casa, Trabalho)</label>
        {{ form.descricao_endereco }}
    </div>

    <div class="form-group">
        <label for="id_numero">Número</label>
        {{ form.numero }}
    </div>

    <div class="form-group">
        <label for="id_complemento">Complemento</label>
        {{ form.complemento }}
    </div>

    <div class="form-group">
        <label for="id_bairro">Bairro</label>
        {{ form.bairro }}
    </div>

    <div class="form-group">
        <label for="id_municipio">Município</label>
        {{ form.municipio }}
    </div>

    <div class="form-group">
        <label for="id_uf">UF</label>
        {{ form.uf }}
    </div>

    <!-- Campos específicos para Pessoa Física -->
    <div class="form-group">
        <label for="id_cpf">CPF</label>
        {{ form.cpf }}
    </div>

    <div class="form-group">
        <label for="id_data_nascimento">Data de Nascimento</label>
        {{ form.data_nascimento }}
    </div>

    <!-- Campos específicos para Pessoa Jurídica -->
    <div class="form-group">
        <label for="id_cnpj">CNPJ</label>
        {{ form.cnpj }}
    </div>

    <div class="form-group">
        <label for="id_razao_social">Razão Social</label>
        {{ form.razao_social }}
    </div>

    <div class="form-group">
        <label for="id_ie">I.E.</label>
        {{ form.ie }}
    </div>

    <!-- Senha -->
    <div class="form-group">
        <label for="id_senha">Senha</label>
        {{ form.password }}
    </div>

    <div class="form-group">
        <label for="id_confirm_password">Confirmação de Senha</label>
        {{ form.confirm_password }}
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
