<!-- lista_usuarios_grafica.html -->
{% extends 'base_generic.html' %}

{% block content %}
  <h1>Lista de Usuários da Gráfica</h1>

  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Celular</th>
        <th>Cargo</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios %}
        <tr>
          <td>{{ usuario.nome_completo }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.celular }}</td>
          <td>{{ usuario.cargo }}</td>
          <td>
            <a href="{% url 'editar_usuario' usuario.id %}">Editar</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">Nenhum usuário encontrado.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
