{% extends 'base.html' %}

{% block content %}
<header class="header"></header>
<main class="container">
    <div class="form-container">
        <h2 class="form-title">Verificação de E-mail</h2>
        <p>Insira o código de verificação enviado para o seu e-mail.</p>

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="form-label required">Código de Verificação</label>
                <input type="text" name="codigo" class="form-control" maxlength="6" required>
            </div>
            <button type="submit" class="submit-btn">Verificar</button>
        </form>
    </div>
</main>
{% endblock %}