{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container">
  <div class="verification-container">
    <h2 class="verification-title">Verificação de Email</h2>
    <p>Um email de verificação foi enviado para o seu endereço de email. Por favor, verifique sua caixa de entrada e siga as instruções para confirmar seu email.</p>
    <form method="post" action="{% url 'usuarios:verificar_email' loja=loja.nome %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="codigo">Código de Verificação</label>
        <input type="text" id="codigo" name="codigo" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Verificar</button>
    </form>
  </div>
</main>
{% endblock %}